<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} ? 'portfolio'"></title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/menu/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/content.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css"/>

    <script th:type="module" th:src="@{/js/common/util.js}"></script>

    <th:block layout:fragment="pageStyles"></th:block>

    <th:block layout:fragment="pageJs"></th:block>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <div class="layout">
        <main class="content" layout:fragment="content">
            기본 템플릿 내용
        </main>
    </div>

    <footer layout:replace="fragments/footer :: footer"></footer>

    <th:block layout:fragment="pageScripts"></th:block>

    <script th:type="module">
        import {qs} from '/js/common/util.js';
        import Menus from "/js/menu/menus.js";

        async function getMenus() {
            const nav = qs(document, '.nav');
            const leftMenuArea = qs(document, '.leftMenuArea');
            const menus = new Menus(nav, leftMenuArea);
            await menus.init();
            return menus;
        }

        const menus = await getMenus();
    </script>
</body>
</html>
