<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/template}"
>
<body>

<div layout:fragment="pageStyles">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css"/>
    <link rel="stylesheet" href="/css/menu/admin/menuManage.css"/>
    <link rel="stylesheet" href="/css/menu/admin/menuManageEditForm.css"/>
</div>

<div layout:fragment="pageJs">
    <script src="/js/external-libraries/tuigrid/tui-grid.min.js"></script>
</div>


<div layout:fragment="content">
    <!-- 전체 화면 높이(min-vh-100)와 gutter 제거(g-0) -->
    <div class="menuContent">
        <!--        <div class="row min-vh-100 g-0 menuContent">-->
        <!-- 왼쪽 영역: 그리드 영역 -->
        <!--            <div class="col-lg-6 h-100 border-end">-->
        <div class="left">
            <!--                <div class="left d-flex flex-column h-100">-->
            <div>
                <div id="grid" class="flex-grow-1"></div>
            </div>
        </div>
        <!-- 오른쪽 영역: 메뉴 편집 폼 카드 -->
        <!--            <div class="col-lg-6 h-100">-->
        <div class="right">
            <div id="editContainer" class="card shadow-sm h-100">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">메뉴 수정</h5>
                </div>
                <div class="card-body">
                    <form id="menuForm">
                        <!-- 숨김 필드: ID -->
                        <input type="hidden" id="id" name="id">
                        <!-- 메뉴명 -->
                        <div class="mb-3">
                            <label for="menuName" class="form-label">메뉴명</label>
                            <input type="text" class="form-control" id="menuName" name="menuName"
                                   placeholder="메뉴명을 입력하세요">
                            <div class="invalid-feedback" data-target="menuName"></div>
                        </div>
                        <!-- 상위 메뉴 -->
                        <div class="mb-3">
                            <label for="upperMenuName" class="form-label">상위 메뉴</label>
                            <div class="d-flex align-items-center gap-2">
                                <input type="text" class="form-control readonly" id="upperId" name="upperId"
                                       readonly>
                                <input type="text" class="form-control readonly" id="upperMenuName"
                                       name="upperMenuName" readonly>
                                <button type="button" class="btn btn-outline-secondary" id="findUpperMenuBtn">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                            <div class="invalid-feedback" data-target="upperId"></div>
                            <div class="invalid-feedback" data-target="upperMenuName"></div>
                        </div>
                        <!-- 메뉴 타입 -->
                        <div class="mb-3">
                            <label for="menuType" class="form-label">메뉴 타입</label>
                            <select id="menuType" name="menuType" class="form-select">
                                <option value="">선택하세요</option>
                            </select>
                            <div class="invalid-feedback d-block" data-target="menuType"></div>
                        </div>
                        <!-- 권한 -->
                        <div class="mb-3">
                            <label for="roleCode" class="form-label">권한</label>
                            <select id="roleCode" name="roleCode" class="form-select">
                                <option value="">선택하세요</option>
                                <!-- 옵션은 동적으로 추가 -->
                            </select>
                            <div class="invalid-feedback" data-target="roleCode"></div>
                        </div>
                        <!-- 프로그램 -->
                        <div id="programRow" class="mb-3">
                            <label for="programGroup" class="form-label">프로그램</label>
                            <div id="programGroup" class="d-flex align-items-center gap-2">
                                <input type="text" class="form-control readonly" id="programId" name="programId"
                                       readonly>
                                <input type="text" class="form-control readonly" id="programName" name="programName"
                                       readonly>
                                <button type="button" class="btn btn-outline-secondary" id="findProgramBtn">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                            <div class="invalid-feedback" data-target="programId"></div>
                            <div class="invalid-feedback" data-target="programName"></div>
                        </div>
                        <!-- 순서 -->
                        <div class="mb-3">
                            <label for="orderNum" class="form-label">순서</label>
                            <select id="orderNum" name="orderNum" class="form-select">
                                <option value="">선택하세요</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                            <div class="invalid-feedback" data-target="orderNum"></div>
                        </div>
                        <!-- 수정자 -->
                        <div class="mb-3">
                            <label for="lastModifiedByLoginId" class="form-label">수정자</label>
                            <input type="text" class="form-control readonly" id="lastModifiedByLoginId"
                                   name="lastModifiedByLoginId" readonly>
                        </div>
                        <!-- 수정일 -->
                        <div class="mb-3">
                            <label for="updatedAt" class="form-label">수정일</label>
                            <input type="text" class="form-control readonly" id="updatedAt" name="updatedAt"
                                   readonly>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-end">
                    <div class="rightBtnArea">

                    </div>
                </div>
            </div>
        </div>
    </div><!-- row -->
</div>
<div layout:fragment="pageScripts">
    <script th:type="module">
        import { fetchAllMenus, createMenu, fetchFolderMenus, fetchMenuById } from '/js/apis/menu/menu.js';
        import { qs } from '/js/common/util.js';
        import MenuManageSearchRequestDto from '/js/apis/menu/request/menu-manage-search.request.dto.js';
        import { getAllRolesFlat } from '/js/apis/account/role.js';
        import TGridColumn from '/js/grid/TGridColumn.js';
        import TGrid from '/js/grid/TGrid.js';
        import MenuManageEditForm from '/js/menu/admin/manage/MenuManageEditForm.js';
        import MenuManageGrid from '/js/menu/admin/manage/MenuManageGrid.js';
        import { getMenuTypeName, MENU_TYPE } from '/js/menu/menuConstants.js';

        /**
         * @typedef {Object} TGridTreeData
         * @property {number} id - 메뉴의 ID
         * @property {number|null} upperMenuId - 상위 메뉴의 ID
         * @property {string} menuName - 메뉴 이름
         * @property {number} programId - 프로그램의 ID
         * @property {string} programName - 프로그램 이름
         * @property {MENU_TYPE} menuType - 메뉴 타입 (예: "FOLDER", "PROGRAM")
         * @property {number} orderNum - 정렬 순서
         * @property {TGridTreeData[]} [_children] - 하위 메뉴 배열 (옵션)
         */

        /**
         * @typedef {Object} TGridMenuRowData
         * @property {number} id - 메뉴의 ID
         * @property {number|null} upperMenuId - 상위 메뉴의 ID
         * @property {string} menuName - 메뉴 이름
         * @property {number} programId - 프로그램의 ID
         * @property {string} programName - 프로그램 이름
         * @property {MENU_TYPE} menuType - 메뉴 타입 (예: "FOLDER", "PROGRAM")
         * @property {number} orderNum - 정렬 순서
         */

        class MenuManageMediator {
            /**
             * @type {MenuManageGrid}
             */
            menuManageGrid;
            /**
             * @type {MenuManageEditForm}
             */
            menuManageEditForm;

            /**
             *
             * @param menuManageGrid
             * @param menuManageEditForm
             */
            constructor({
                menuManageGrid,
                menuManageEditForm,
            }) {
                this.menuManageGrid = menuManageGrid;
                this.menuManageEditForm = menuManageEditForm;
                this.#init();
            }

            #init() {
                this.#setGridClickEvent();
                this.menuManageEditForm.setNewBtnClickCallback(async () => {
                    await this.menuManageEditForm.create();
                    await this.#gridRefresh();
                });
                this.menuManageEditForm.setEditBtnClickCallback(async () => {
                    await this.menuManageEditForm.edit();
                    await this.#gridRefresh();
                });
                this.menuManageEditForm.setDelBtnClickCallback(async () => {
                    await this.menuManageEditForm.delete();
                    await this.#gridRefresh();
                });
            }

            #setGridClickEvent() {
                const editForm = this.menuManageEditForm;
                const tGrid = this.menuManageGrid.tGrid;
                tGrid.setCellClick(({ rowNum, columnName }) => {
                    /**
                     * @type {TGridMenuRowData | null}
                     */
                    const { id } = tGrid.getRowData(rowNum);
                    editForm.setEditMode(id);
                });
            }

            async #gridRefresh() {
                const menus = await MenuManageMediator.FetchAllMenus();
                this.menuManageGrid.setData(menus);
            }

            static async FetchAllMenus() {
                return await fetchAllMenus(MenuManageSearchRequestDto.createEmptySearchCriteria());
            }
        }

        document.addEventListener('DOMContentLoaded', async () => {
            /** @type {ManageMenu[]} */
            const menus = await MenuManageMediator.FetchAllMenus();
            const container = qs(document, '.menuContent');
            const gridWrapper = qs(container, '#grid');
            const editFormContainer = qs(container, '#editContainer');
            const editFormBtnArea = qs(container, '.rightBtnArea');
            const menuManageEditForm = new MenuManageEditForm({
                container: editFormContainer,
                btnArea: editFormBtnArea,
            });
            /** @type {Role[]} */
            const roleCodes = await getAllRolesFlat();
            /** @type {HTMLSelectElement} */
            const roleCodeSelect = qs(container, '#roleCode');
            /** @type {HTMLSelectElement} */
            const menuTypeSelect = qs(container, '#menuType');

            /**
             *
             * @param {HTMLSelectElement} roleCodeSelect
             * @param {[]} roleCodes
             */
            const createRoleCodeOption = (roleCodeSelect, roleCodes) => {
                for (const roleCode of roleCodes) {
                    roleCodeSelect.innerHTML += `<option value="${roleCode.getRoleCode()}">${roleCode.getRoleName()}</option>`;
                }
            };

            const createMenuTypeOption = (menuTypeSelect) => {
                for (const key of Object.keys(MENU_TYPE)) {
                    const menuTypeValue = MENU_TYPE[key];
                    const menuTypeName = getMenuTypeName(menuTypeValue);

                    menuTypeSelect.innerHTML += `<option value="${menuTypeValue}">${menuTypeName}</option>`;
                }
            };

            const TUI_GRID = tui.Grid;
            const tGrid = TGrid.create({
                tuiGrid: TUI_GRID,
                wrapperElement: gridWrapper,
                columns: [
                    TGridColumn.create({ name: 'id', header: 'id' }).hidden().end(),
                    TGridColumn.create({ name: 'upperMenuId', header: 'upperMenuId' }).hidden().end(),
                    TGridColumn.create({ name: 'menuName', header: '메뉴' }).alignLeft().end(),
                    TGridColumn.create({ name: 'programId', header: 'programId' }).hidden().end(),
                    TGridColumn.create({ name: 'programName', header: 'programName' }).hidden().end(),
                    TGridColumn.create({ name: 'menuType', header: 'menuType' }).hidden().end(),
                    TGridColumn.create({ name: 'orderNum', header: 'orderNum' }).hidden().end(),
                ],
                treeColumnOptions: {
                    name: 'menuName',
                },
            })
                .setBodyHeight(800)
                .end();

            const menuManageGrid = new MenuManageGrid(tGrid);
            menuManageGrid.setData(menus);

            const menuManageMediator = new MenuManageMediator({
                menuManageGrid,
                menuManageEditForm,
            });

            createRoleCodeOption(roleCodeSelect, roleCodes);
            createMenuTypeOption(menuTypeSelect);

        });


    </script>
</div>
</body>
</html>

