<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/common.css}"/>
<link rel="stylesheet" href="@{/js/realgrid/realgrid.2.7.2/realgrid-style.css}"
      th:href="@{/js/realgrid/realgrid.2.7.2/realgrid-sky-blue.css}"/>
<link rel="stylesheet" th:href="@{/css/realgrid/custom.css}"/>
<script th:src="@{/js/realgrid/realgrid.2.7.2/realgrid-lic.js}"></script>
<script th:src="@{/js/realgrid/realgrid.2.7.2/realgrid.2.7.2.min.js}"></script>
<script th:src="@{/js/realgrid/realgrid.2.7.2/libs/jszip.min.js}"></script>

<style>
    .menuContent {
        display: flex;
    }

    .menuContent .left {
        flex: 1;
    }

    .menuContent .right {
        flex: 1;
    }

    .menuContent .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px; /* 셀 사이의 간격 */
        padding: 10px;
    }

    .menuContent .grid-header {
        background-color: #f2f2f2;
        padding: 10px;
        text-align: left;
    }

    .menuContent .grid-cell {
        grid-column: span 1; /* 기본적으로 한 열 차지 */
        padding: 10px;
    }
</style>

<body>
<div id="content" class="ifrm-content">
    <div class="menuContent">
        <div class="left">
            <div id="grid" style="height: 470px;">
            </div>
        </div>
        <div class="right">
            <form id="menuEditForm">
                <input th:type="text" id="id" name="id">
                <div class="grid-container">
                    <div class="grid-header">
                        <label for="menuName">메뉴명</label>
                    </div>
                    <div class="grid-cell">
                        <input type="text" name="menuName" id="menuName">
                        <div class="field-error-message" data-target="menuName"></div>
                    </div>
                    <div class="grid-header">
                        <label for="upperMenuName">상위메뉴</label>
                    </div>
                    <div class="grid-cell">
                        <input type="text" name="upperId" id="upperId" class="readonly" readonly>
                        <input type="text" name="upperMenuName" id="upperMenuName" class="readonly" readonly>
                        <input th:type="button" id="findUpperMenuBtn" value="돋보기"/>
                        <div class="field-error-message" data-target="upperId"></div>
                        <div class="field-error-message" data-target="upperMenuName"></div>
                    </div>
                    <div class="grid-header">
                        <label for="menuType">메뉴타입</label>
                    </div>
                    <div class="grid-cell">
                        <select id="menuType" name="menuType">
                            <option value="">선택하세요</option>
                            <option value="FOLDER">폴더</option>
                            <option value="PROGRAM">프로그램</option>
                        </select>
                        <div class="field-error-message" data-target="menuType"></div>
                    </div>
                    <div class="grid-header">
                        <label for="roleCode">권한</label>
                    </div>
                    <div class="grid-cell">
                        <select id="roleCode" name="roleCode">
                            <option value="">선택하세요</option>
                        </select>
                        <div class="field-error-message" data-target="roleCode"></div>
                    </div>
                    <div class="grid-header">
                        <label for="programName">프로그램</label>
                    </div>
                    <div class="grid-cell">
                        <input type="text" name="programId" id="programId" class="readonly" readonly>
                        <input type="text" name="programName" id="programName" class="readonly" readonly>
                        <input th:type="button" id="findProgramBtn" value="돋보기"/>
                        <div class="field-error-message" data-target="programId"></div>
                        <div class="field-error-message" data-target="programName"></div>
                    </div>
                    <div class="grid-header">
                        <label for="orderNum">순서</label>
                    </div>
                    <div class="grid-cell">
                        <select id="orderNum" name="orderNum">
                            <option value="">선택하세요</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <div class="field-error-message" data-target="orderNum"></div>
                    </div>
                    <div class="grid-header">
                        <label for="lastModifiedByLoginId">수정자</label>
                    </div>
                    <div class="grid-cell">
                        <input th:type="text" id="lastModifiedByLoginId" name="lastModifiedByLoginId" class="readonly"
                               readonly>
                    </div>
                    <div class="grid-header">
                        <label for="updatedAt">수정일</label>
                    </div>
                    <div class="grid-cell">
                        <input th:type="text" id="updatedAt" name="updatedAt" class="readonly" readonly>
                    </div>
                </div>
                <div class="rightBtnArea">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script th:type="module">
    import {fetchAllMenus, fetchFolderMenus, fetchMenuById, fetchCreateMenu} from "/js/apis/menu/menu.js";
    import {fetchAllProgram} from "/js/apis/menu/program.js";
    import {createEl, lpad, qs, qsAll} from "/js/common/util.js";
    import {COLUMN_TYPE, createColumn, createField} from "/js/realgrid/gridUtil.js";
    import Swal from 'https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/+esm';
    import {errorAlert, infoAlert} from "/js/common/alert.js";
    import {FetchError, FieldFetchError} from "/js/error/fetchError.js";
    import {fetchRoleCodeName} from "/js/apis/account/role.js";

    function setTreeId(data = []) {

        const getFlatData = (data = []) => {
            let result = [];
            data.forEach(d => {
                result.push(d);
                if (d.hasChildren()) {
                    result = result.concat(getFlatData(d.getChildren()));
                }
            })
            return result;
        }

        const getTreeId = (_data, allData) => {
            let treeId = [];
            if (_data.hasUpper()) {
                const upper = allData.find(data => data.id === _data.getUpperId());
                if (upper) {
                    const upperTreeId = upper.hasOwnProperty('treeId') ? upper.treeId : getTreeId(upper);
                    const upperTreeIdArr = upperTreeId.split(".");
                    treeId = treeId.concat(upperTreeIdArr);
                }
            }
            treeId.push(_data.getId());
            return treeId.map(tid => lpad(tid, 3, '0')).join(".");
        }


        const flatData = getFlatData(data);
        flatData.forEach(d => {
            d.treeId = getTreeId(d, flatData);
        })

        return flatData;
    }

    function setTreeName(data = [], fetchTreeName = (d) => {
        return ''
    }) {
        data.forEach(d => {
            d.treeName = fetchTreeName(d);
        })
        return data;
    }

    class EditForm {
        container;
        btnArea;

        /**
         *
         * @param {Element} container
         */
        constructor(container) {
            this.container = container;
            this.btnArea = qs(container, '.rightBtnArea');
            this.#setNewMode();
        }

        #setNewMode() {
            this.clear();
            this.#createNewBtn();
        }

        async setEditMode(id) {
            this.clear();
            this.#createEditBtn();
            this.#createDelBtn();
            this.#createNewModeBtn();

            const menu = await fetchMenuById(id);
            qs(this.container, '#id').value = menu.getId();
            qs(this.container, '#menuName').value = menu.getMenuName();
            qs(this.container, '#upperId').value = menu.getUpperId();
            qs(this.container, '#upperMenuName').value = menu.getUpperMenuName();
            qs(this.container, '#menuType').value = menu.getMenuType();
            qs(this.container, '#roleCode').value = menu.getRoleCode();
            qs(this.container, '#programId').value = menu.getProgramId();
            qs(this.container, '#programName').value = menu.getProgramName();
            qs(this.container, '#orderNum').value = menu.getOrderNum();
            qs(this.container, '#lastModifiedByLoginId').value = menu.getLastModifiedByLoginId();
            qs(this.container, '#updatedAt').value = menu.getUpdatedAt();
        }

        clear() {
            this.#clearForm();
            this.#clearBtn();
        }

        #clearForm() {
            qsAll(this.container, 'input[type="text"]').forEach(input => input.value = "");
            qsAll(this.container, 'select').forEach(select => select.value = "");
        }

        #getFormData() {
            const formData = new FormData(this.container);
            const formDataArray = Array.from(formData.entries());
            return Object.fromEntries(formDataArray);
        }

        #clearBtn() {
            qsAll(this.btnArea, 'input[type="button"]').forEach(button => button.remove());
        }

        #createNewBtn() {
            const btn = createEl('input', {id: 'addBtn', type: 'button', value: '추가'});
            btn.addEventListener('click', async () => {
                try {
                    const formData = this.#getFormData();
                    await fetchCreateMenu(formData);
                    infoAlert('저장되었습니다.');
                    this.setNewMode();
                } catch (e) {
                    if (e instanceof FetchError) {
                        const fieldFetchError = new FieldFetchError(this.form, e);
                        fieldFetchError.clearMessage(...qsAll(this.form, 'input[type="text"], select'));
                        fieldFetchError.bindingMessage();
                    } else {
                        errorAlert("저장에 실패하였습니다. 잠시 후 다시 시도해주세요.");
                        throw e;
                    }
                }
            });
            this.btnArea.appendChild(btn);
        }

        #createNewModeBtn() {
            const btn = createEl('input', {id: 'newBtn', type: 'button', value: '신규'});
            btn.addEventListener('click', () => {
                this.#setNewMode();
            });
            this.btnArea.appendChild(btn);
        }

        #createEditBtn() {
            const btn = createEl('input', {id: 'editBtn', type: 'button', value: '저장'});
            btn.addEventListener('click', async () => {

            })
            this.btnArea.appendChild(btn);
        }

        #createDelBtn() {
            const btn = createEl('input', {id: 'delBtn', type: 'button', value: '삭제'});
            btn.addEventListener('click', async () => {

            })
            this.btnArea.appendChild(btn);
        }


    }

    /**
     *
     * @param {ManageMenu[]} menus
     * @param treeView
     * @param treeProvider
     */
    function drawGrid(menus = [], treeView, treeProvider) {
        treeProvider.setFields([
            createField('treeId').text().end(),
            createField('treeName').text().end(),
            createField('id').number().end(),
            createField('menuName').text().end()
        ]);

        treeView.setColumns([
            createColumn('treeId', COLUMN_TYPE.DATA, 100).editable(false).visible(false).header('treeId').end(),
            createColumn('treeName', COLUMN_TYPE.DATA, 250).editable(false).visible(true).header('메뉴명').end(),
            createColumn('id', COLUMN_TYPE.DATA, 100).editable(false).visible(false).header('id').end(),
            createColumn('menuName', COLUMN_TYPE.DATA, 100).editable(false).visible(false).header('menuName').end()
        ]);

        const treeMenus = setTreeId(menus);
        const treeMenusTreeName = setTreeName(treeMenus, (m) => m.getMenuName());

        treeProvider.setRows(treeMenusTreeName, "treeId", false, null, 'iconField');
        treeView.setDataSource(treeProvider);

        treeView.displayOptions.fitStyle = 'evenFill';
        treeView.displayOptions.emptyMessage = '표시할 데이타가 없습니다.';
        treeView.treeOptions.expanderIconStyle = "square"//기본 "triangle"
        treeView.treeOptions.defaultIcon = 4;
    }

    document.addEventListener('DOMContentLoaded', async () => {
        const menus = await fetchAllMenus();
        const container = qs(document, '#content');
        const editForm_form = qs(container, '#menuEditForm')
        const gridContainer = qs(container, '#grid');
        const treeProvider = new RealGrid.LocalTreeDataProvider();
        const treeView = new RealGrid.TreeView(gridContainer);
        const editForm = new EditForm(editForm_form);
        const roleCodes = await fetchRoleCodeName();
        const showUpperMenuDialog = () => {
            const swal = Swal;
            swal.fire({
                title: '상위메뉴',
                html: `
                <div id="dialog">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>메뉴명</th>
                            <th></th>
                        </tr>
                    </table>
                </div>
            `,
                didOpen: async () => {
                    const folderMenus = await fetchFolderMenus();
                    const dialogContainer = qs(document, '#dialog');
                    const table = qs(dialogContainer, 'table');
                    /**
                     * @param {HTMLTableElement} table
                     * @param {FolderMenu} folderMenu
                     * @return {string}
                     */
                    const addTr = (table, folderMenu) => {
                        const inputBtn = createEl('input', {type: 'button', value: '선택'});
                        const tr = createEl('tr');
                        const idTd = createEl('td', {innerText: folderMenu.getId()});
                        const menuNameTd = createEl('td', {innerText: folderMenu.getMenuName()});
                        const btnTd = createEl('td');

                        inputBtn.addEventListener('click', () => {
                            qs(container, '#upperId').value = folderMenu.getId();
                            qs(container, '#upperMenuName').value = folderMenu.getMenuName();
                            swal.close();
                        })

                        btnTd.append(inputBtn);
                        tr.append(idTd, menuNameTd, btnTd)
                        table.append(tr);
                    }
                    folderMenus.forEach(fm => {
                        addTr(table, fm);
                    });
                }
            })
        }
        const showProgramListDialog = () => {
            const swal = Swal;
            swal.fire({
                title: '프로그램목록',
                showCloseButton: true,
                showConfirmButton: false,
                html: `
                <div id="dialog">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>프로그램명</th>
                            <th>url</th>
                            <th></th>
                        </tr>
                    </table>
                </div>
            `,
                didOpen: async () => {
                    const programs = await fetchAllProgram();
                    const dialogContainer = qs(document, '#dialog');
                    const table = qs(dialogContainer, 'table');
                    /**
                     * @param {HTMLTableElement} table
                     * @param {Program} program
                     * @return {string}
                     */
                    const addTr = (table, program) => {
                        const inputBtn = createEl('input', {type: 'button', value: '선택'});
                        const tr = createEl('tr');
                        const idTd = createEl('td', {innerText: program.getId()});
                        const nameTd = createEl('td', {innerText: program.getProgramName()});
                        const urlTd = createEl('td', {innerText: program.getUrl()});
                        const btnTd = createEl('td');

                        inputBtn.addEventListener('click', () => {
                            qs(container, '#programId').value = program.getId();
                            qs(container, '#programName').value = program.getProgramName();
                            swal.close();
                        })

                        btnTd.append(inputBtn);
                        tr.append(idTd, nameTd, urlTd, btnTd);
                        table.append(tr);
                    }
                    programs.forEach(fm => {
                        addTr(table, fm);
                    });
                }
            })
        }

        const roleCodeSelect = qs(container, '#roleCode');
        for(const roleCode of roleCodes) {
            roleCodeSelect.innerHTML += `<option value="${roleCode.getRoleCode()}">${roleCode.getRoleName()}</option>`
        }

        drawGrid(menus, treeView, treeProvider);
        treeView.onCellClicked = (grid, clickData) => {
            if (clickData.cellType === 'gridEmpty')
                return false;
            const {id} = grid.getDataSource().getJsonRow(clickData.dataRow);

            editForm.setEditMode(id);
        };

        editForm_form.addEventListener('submit', (e) => e.preventDefault());

        qs(container, '#findUpperMenuBtn').addEventListener('click', showUpperMenuDialog);

        qs(container, '#findProgramBtn').addEventListener('click', showProgramListDialog);
    });


</script>
