<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/template}"
>
<body>
<div layout:fragment="pageStyles">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.css">
    <link rel="stylesheet" href="/css/program/admin/programManage.css"/>

</div>
<div layout:fragment="pageJs">
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <script src="/js/grid/tuigrid/tui-grid.min.js"></script>
</div>

<div layout:fragment="content">
    <div class="programContent">
        <div class="left">
            <div>
                <div id="searchForm" class="d-flex justify-content-end align-items-center p-3 bg-white border-bottom">
                    <div class="d-flex align-items-center gap-2">
                        <select id="searchType" name="searchType" class="form-select form-select-sm"
                                style="width: auto;">
                            <option value="programName">프로그램명</option>
                            <option value="id">ID</option>
                            <option value="url">URL</option>
                        </select>
                        <input type="text" id="searchInput" name="searchInput" value=""
                               class="form-control form-control-sm" placeholder="검색어 입력" style="width: 200px;">
                        <div class="invalid-feedback" data-target="searchInput"></div>
                        <input type="button" id="searchBtn" value="검색" class="btn btn-sm btn-primary">
                    </div>
                </div>
            </div>
            <div id="grid"></div>
            <div id="pagination" class="tui-pagination"></div>
        </div>
        <div class="right">
            <div id="programEditForm" name="programEditForm" class="card shadow-sm">
                <div class="card-header bg-white text-dark border-bottom">
                    <h5 class="mb-0">프로그램</h5>
                </div>
                <div class="card-body">
                    <!-- hidden input -->
                    <input type="hidden" name="id" id="id"/>

                    <div class="mb-3">
                        <label for="programName" class="form-label">프로그램명</label>
                        <input type="text" class="form-control" name="programName" id="programName"/>
                        <div class="invalid-feedback" data-target="programName"></div>
                    </div>

                    <div class="mb-3">
                        <label for="url" class="form-label">URL</label>
                        <input type="text" class="form-control" name="url" id="url"/>
                    </div>

                    <div class="mb-3">
                        <label for="createdAt" class="form-label">생성일</label>
                        <input type="text" class="form-control" name="createdAt" id="createdAt" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="updatedAt" class="form-label">수정일</label>
                        <input type="text" class="form-control" name="updatedAt" id="updatedAt" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="lastUpdatedByUserLoginId" class="form-label">수정자</label>
                        <input type="text" class="form-control" name="lastUpdatedByUserLoginId"
                               id="lastUpdatedByUserLoginId" disabled/>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="rightBtnArea">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div layout:fragment="pageScripts">
    <script th:type="module">
        import {qs, qsAll, HTTP_STATUS} from "/js/common/util.js";
        import ProgramGrid from "/js/program/admin/manage/ProgramGrid.js";
        import TGrid from "/js/grid/TGrid.js";
        import TGridColumn from "/js/grid/TGridColumn.js";
        import EditForm from "/js/program/admin/manage/EditForm.js";
        import {fetchCreateProgram, fetchDeleteProgram, fetchEditProgram} from "/js/apis/program/program.js";
        import {errorAlert, infoAlert} from "/js/common/alert.js";
        import {FetchError, FieldFetchError} from "/js/error/fetchError.js";
        import TPagination from "/js/common/TPagination.js";

        const tag = '[programManage]';

        class ProgramManageMediator {
            /**
             * @type {ProgramGrid}
             */
            programGrid;
            /**
             * @type {EditForm}
             */
            editForm;

            constructor(programGrid) {
                this.programGrid = programGrid;
                this.editForm = new EditForm({
                    form: qs(document, '#programEditForm'),
                    addBtnCallback: this.#addBtnCallback(),
                    editBtnCallback: this.#editBtnCallback(),
                    delBtnCallback: this.#delBtnCallback(),
                    newBtnCallback: this.#newBtnCallback(),
                });
                this.#init();
            }

            async search() {
                await this.programGrid.search();
            }

            /**
             * @description 프로그램 수정 모드
             * @param {Program} program
             */
            editMode(program) {
                this.editForm.setEditMode(program);
            }

            newMode() {
                this.editForm.setNewMode();
            }

            #init() {
                this.programGrid.setClickEvent(async ({rowNum, columnName}) => {
                    const program = this.programGrid.getProgram(rowNum);

                    if (!program)
                        return;

                    this.editMode(program);
                });
            }

            /**
             * @description 신규 등록 버튼 콜백 생성
             * @return {(function(): void)|*}
             */
            #newBtnCallback() {
                return () => {
                    this.newMode();
                };
            }

            /**
             * @description 추가 버튼 콜백 생성
             * @return {(function(): Promise<void>)|*}
             */
            #addBtnCallback() {
                return async () => {
                    const programName = this.editForm.getProgramName();
                    const url = this.editForm.getUrl();
                    const form = this.editForm.getForm();
                    try {
                        await fetchCreateProgram({programName, url});
                        infoAlert("저장되었습니다.");
                        await this.programGrid.search();
                        this.newMode();
                    } catch (e) {
                        if (e instanceof FetchError) {
                            const fieldFetchError = new FieldFetchError(form, e);
                            if (e.status === HTTP_STATUS.CONFLICT) {
                                errorAlert('이미 등록된 URL입니다.');
                                fieldFetchError.clearMessage(...qsAll(form, '#url'));
                                fieldFetchError.bindingMessage();
                            } else {
                                fieldFetchError.clearMessage(...qsAll(form, 'input[type="text"]'));
                                fieldFetchError.bindingMessage();
                            }
                        } else {
                            errorAlert("저장에 실패하였습니다. 잠시 후 다시 시도해주세요.");
                            throw e;
                        }
                    }
                }
            }

            /**
             * @description 수정 버튼 콜백 생성
             * @return {(function(): Promise<void>)|*}
             */
            #editBtnCallback() {
                return async () => {
                    const form = this.editForm.getForm();
                    const id = this.editForm.getId();
                    const programName = this.editForm.getProgramName();
                    const url = this.editForm.getUrl();

                    try {
                        await fetchEditProgram({id, programName, url})
                        infoAlert("수정되었습니다.");
                        await this.programGrid.search();
                        this.newMode();
                    } catch (e) {
                        if (e instanceof FetchError) {
                            if (e.status === HTTP_STATUS.CONFLICT) {
                                errorAlert('이미 등록된 URL입니다.');
                                const fieldFetchError = new FieldFetchError(form, e);
                                fieldFetchError.clearMessage(...qsAll(form, '#url'));
                                fieldFetchError.bindingMessage();
                            }
                        } else {
                            errorAlert("수정에 실패하였습니다. 잠시 후 다시 시도해주세요.");
                            throw e;
                        }
                    }
                };
            }

            /**
             * @description 삭제 버튼 콜백 생성
             * @return {(function(): Promise<void>)|*}
             */
            #delBtnCallback() {
                return async () => {
                    try {
                        const id = this.editForm.getId();
                        await fetchDeleteProgram(id);
                        infoAlert("삭제되었습니다.");
                        await this.programGrid.search();
                        this.newMode();
                    } catch (e) {
                        errorAlert("삭제에 실패하였습니다. 잠시 후 다시 시도해주세요.");
                        throw e;
                    }
                }
            }

        }

        document.addEventListener('DOMContentLoaded', async () => {
            const TUI_GRID = tui.Grid;
            const TUI_PAGINATION = tui.Pagination;
            const container = qs(document, '.programContent');
            const gridWrapper = qs(container, '#grid');
            const searchForm = qs(container, '#searchForm');
            const searchBtn = qs(searchForm, '#searchBtn');
            const searchInput = qs(searchForm, '#searchInput');
            const searchType = qs(searchForm, '#searchType');
            const pagination = TPagination.create({
                tuiPageNation: TUI_PAGINATION
                , paginationContainer: qs(container, '#pagination')
            })
                    .end();
            const tGrid = TGrid.create({
                tuiGrid: TUI_GRID,
                wrapperElement: gridWrapper,
                columns: [
                    TGridColumn.create({name: 'id', header: 'id'}).width(50).end()
                    , TGridColumn.create({name: 'programName', header: '프로그램명'})
                            .alignLeft()
                            .end()
                    , TGridColumn.create({name: 'url', header: 'URL'}).end()
                    , TGridColumn.create({name: 'createdAt', header: '생성일'}).end()
                    , TGridColumn.create({name: 'updatedAt', header: '수정일'}).end()
                    , TGridColumn.create({name: 'lastUpdatedByUserLoginId', header: '수정자'}).end()
                ],
                pagination,
            })
                    .setBodyHeight(800)
                    .end();
            const programGrid = new ProgramGrid({
                tGrid,
                container,
                searchForm,
                pagination,
            });

            const programManageMediator = new ProgramManageMediator(programGrid);
            const search = async () => {
                const form = qs(container, '#searchForm');
                try {
                    await programManageMediator.search();
                } catch (e) {
                    if (e instanceof FetchError) {
                        const fieldFetchError = new FieldFetchError(form, e);
                        fieldFetchError.clearMessage(...qsAll(form, 'input[type="text"]'));
                        fieldFetchError.bindingMessage();
                    } else {
                        errorAlert("검색에 실패하였습니다. 잠시 후 다시 시도해주세요.");
                        throw e;
                    }
                }
            }

            await search();

            searchBtn.addEventListener('click', async () => {
                await search();
            });
            searchInput.addEventListener('keydown', async (event) => {
                const searchKeyword = event.target.value;
                if (searchType.value === 'id') {
                    if (!/^[0-9]*$/.test(searchKeyword)) {
                        event.target.value = searchKeyword.substring(0, searchKeyword.length - 1);
                    }
                }

                if (event.key === 'Enter')
                    await search();
            });

        });

    </script>
</div>
</body>


</html>
