<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div>
    programManage
    <div id="grid">
    </div>
    <script th:type="module">
        import {fetchProgram} from "/js/apis/menu/program.js";
        import {errorAlert} from "/js/common/alert.js";

        const tag = '[programManage]';

        /**
         * @return {Promise<PageResult>}
         */
        async function getPrograms() {
            try {
                return await fetchProgram();
            } catch (e) {
                console.error(tag, e);
                errorAlert("프로그램을 가져오는데 실패하였습니다.");
            }
        }

        const programs = await getPrograms();
        console.log(programs);
    </script>

</div>


</html>
