<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/common.css}"/>
<link rel="stylesheet" href="@{/js/realgrid/realgrid.2.7.2/realgrid-style.css}"
      th:href="@{/js/realgrid/realgrid.2.7.2/realgrid-sky-blue.css}"/>
<link rel="stylesheet" th:href="@{/css/realgrid/custom.css}"/>
<script src="/js/realgrid/realgrid.2.7.2/realgrid-lic.js"></script>
<script src="/js/realgrid/realgrid.2.7.2/realgrid.2.7.2.min.js"></script>
<script src="/js/realgrid/realgrid.2.7.2/libs/jszip.min.js"></script>

<style>

</style>

<body>
<div id="content" class="ifrm-content">
    <div id="grid" style="height: 470px;">

    </div>
</div>
</body>
<script th:type="module">
    import {getAllRolesFlat} from "/js/apis/account/role.js";
    import {qs, lpad} from "/js/common/util.js";
    import {createColumn, COLUMN_TYPE, createField} from "/js/realgrid/gridUtil.js";


    function createTreeId(data = []) {
        const getTreeId = (_data, allData) => {
            let treeId = [];
            if (_data.hasUpper()) {
                const upper = allData.find(data => data.id === _data.getUpperId());
                if (upper) {
                    const upperTreeId = upper.hasOwnProperty('treeId') ? upper.treeId : getTreeId(upper);
                    const upperTreeIdArr = upperTreeId.split(".");
                    treeId = treeId.concat(upperTreeIdArr);
                }
            }
            treeId.push(_data.getId());
            return treeId.map(tid => lpad(tid, 3, '0')).join(".");
        }

        data.forEach(d => {
            d.treeId = getTreeId(d, data);
        });

        return data;
    }

    document.addEventListener('DOMContentLoaded', async () => {
        const roles = await getAllRolesFlat();
        const container = qs(document, '#content');
        const gridContainer = qs(container, '#grid');
        const treeProvider = new RealGrid.LocalTreeDataProvider();
        const treeView = new RealGrid.TreeView(gridContainer);

        treeProvider.setFields([
            createField('treeId').text().end(),
            createField('treeName').text().end(),
            createField('id').number().end(),
            createField('roleCode').text().end(),
            createField('roleName').text().end(),
            createField('upperId').text().end()
        ])
        treeView.setColumns([
            createColumn('treeId', COLUMN_TYPE.DATA, 100).editable(false).visible(false).header('treeId').end(),
            createColumn('treeName', COLUMN_TYPE.DATA, 250).editable(false).header('권한').end(),
            createColumn('roleName', COLUMN_TYPE.DATA, 100).editable(false).visible(false).header('권한명').end(),
            createColumn('id', COLUMN_TYPE.DATA, 70).editable(false).visible(false).header('id').end(),
            createColumn('roleCode', COLUMN_TYPE.DATA, 100).editable(false).visible(false).header('권한코드').end(),
            createColumn('upperId', COLUMN_TYPE.DATA, 70).editable(false).visible(false).header('upperId').end()
        ]);
        const treeRoles = createTreeId(roles);

        console.dir(treeRoles);

        console.dir(typeof treeRoles);

        treeRoles
                .forEach(role => {
                    role.treeName = `${role.getRoleName()} [${role.getRoleCode()}]`;
                });

        treeProvider.setRows(treeRoles, "treeId", false, null, 'iconField');
        treeView.setDataSource(treeProvider);

        treeView.displayOptions.fitStyle = 'evenFill';
        treeView.displayOptions.emptyMessage = '표시할 데이타가 없습니다.';
        treeView.treeOptions.expanderIconStyle = "square"//기본 "triangle"
        treeView.treeOptions.defaultIcon = 4;

    })

</script>
