<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!--     콘솔 애펜더 정의-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 로그 메시지의 포맷 설정 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- MyBatis 로그 설정 -->
    <logger name="p6spy" level="DEBUG"/>

    <!-- 애플리케이션의 기본 로그 레벨 설정 -->
    <root level="DEBUG">
        <!-- 콘솔 애펜더 사용 -->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
