<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="header" class="header">
    <div class="loginDiv">
        <div sec:authorize="isFullyAuthenticated()">
            <span sec:authentication="name"></span>님 환영합니다.
            <a href="#" id="logoutBtn" class="btn btn-outline-dark" >로그아웃</a>
        </div>
        <div sec:authorize="!isFullyAuthenticated()">
            <a href="#" id="loginBtn" class="btn btn-outline-dark">로그인</a>
            <a href="#" id="signupBtn" class="btn btn-outline-dark">회원가입</a>
        </div>
    </div>
    <script th:type="module">
        import {qs} from "/js/common/util.js";
        import {logout} from "/js/apis/account/auth.js";
        import {goLoginPage, goSignupPage} from "/js/common/route.js"

        const loginBtn = qs(document, '#loginBtn');
        const logoutBtn = qs(document, '#logoutBtn');
        const signupBtn = qs(document, '#signupBtn');

        if (loginBtn)
            loginBtn.addEventListener('click', () => {
                goLoginPage();
            })
        if (logoutBtn)
            logoutBtn.addEventListener('click', async () => {
                await logout();
            });
        if(signupBtn)
            signupBtn.addEventListener('click', goSignupPage);
    </script>
</div>
</body>
</html>
