/* 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    color: #333;
}

/* 테마 컬러 */
:root {
    --theme-color: #009BFF; /* 좀 더 밝은 파란색 */
    /*--light-theme-color: #e6f5ff; !* 조금 더 밝은 파란색의 연한 버전 *!*/
    /*--dark-theme-color: #0070c0; !* 약간 진한 파란색의 버전 *!*/
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.field-error-message {
    color: red;
    display: none;
}

.field-error-message.show{
    display: block;
}

.row {
    display: flex;
}
