/* 전체 레이아웃 */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* 헤더 영역 */
.header {
    height: 60px;
    background-color: #f8f9fa;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.header .loginDiv {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.header .loginDiv a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header .loginDiv a:hover {
    background-color: #e9ecef;
}


/* 콘텐츠 영역 */
.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #f8f9fa;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

/* 푸터 영역 */
.footer {
    height: 50px;
    background-color: #f8f9fa;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
