<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <script th:type="module" th:src="@{/js/common/util.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/menu/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/content.css}"/>
</head>
<body>
<div class="layout">
    <div id="header" th:replace="fragments/header :: header"></div>
    <div id="menu" th:replace="fragments/menu :: menu"></div>
    <div class="row">
        <div id="ifr_content" class="content">
            어서오세요.
        </div>
    </div>
</div>
</body>
<script th:type="module">
    import {qs} from '/js/common/util.js';
    import Menus from "/js/menu/menus.js";

    async function getMenus() {
        const nav = qs(document, '.menu-nav');
        const leftMenuArea = qs(document, '.leftMenuArea');
        const menus = new Menus(nav, leftMenuArea);
        await menus.init();
        return menus;
    }

    const menus = await getMenus();

</script>
</html>
