<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:type="module" th:src="@{/js/util.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
    <div class="grid-container">
        <div>아이디</div>
        <input th:type="text" name="username" id="username">
        <div>비밀번호</div>
        <input th:type="text" name="password" id="password">
        <input th:type="button" id="loginBtn" value="로그인" />
    </div>
    <script th:type="module">
        import {qs, FETCH} from "/js/util.js";
        const loginBtn = qs(document, '#loginBtn');

        loginBtn.addEventListener('click', () => {
            const username = qs(document, '#username').value;
            const password = qs(document, '#password').value;
            FETCH.post('/account/login', {username, password})
                .then(response => {
                    if(response.ok){
                        location.href = "/";
                    } else {
                        if(response.status === 401){
                            throw new Error('아이디/비밀번호를 확인하세요.')
                        } else {
                            throw new Error('로그인에 실패하였습니다.')
                        }
                    }
                })
                .catch(e => {
                    alert(e.message);
                });
        })

    </script>
</html>
