<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portfolio.main.domain.model.menu.Menu">
    <select id="findHierarchyMenus" resultType="com.portfolio.main.infrastructure.repository.mapper.menu.dto.MenuMapperDto">
        WITH RECURSIVE menu_hierarchy
                           AS
                           (
                               SELECT id, upper_id, menu_name, order_num, menu_type, program_id, created_at, updated_at, last_modified_by, 1 AS Level
                                    , CAST(order_num AS CHAR(50)) AS sortKey -- 정렬 키를 문자열로 생성
                               FROM menu
                               WHERE upper_id IS NULL
                               UNION ALL
                               SELECT m.id, m.upper_id, m.menu_name, m.order_num, m.menu_type, m.program_id, m.created_at, m.updated_at, m.last_modified_by, rh.Level + 1
                                    , CONCAT(rh.SortKey, '-', LPAD(m.order_num, 5, '0')) -- 상위 정렬 키와 현재 order_num을 결합하여 정렬 키 갱신
                               FROM menu m
                                        INNER JOIN menu_hierarchy rh ON m.upper_id = rh.id
                           )
        SELECT id, upper_id, menu_name, order_num, menu_type, program_id, created_at, updated_at, last_modified_by, Level
        FROM menu_hierarchy
        ORDER BY sortKey
    </select>
</mapper>
